.container{
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu, .table, .timetable, .scrollers{
	flex: 1 100%;
}
.menu{

}
.table{
	padding: 1em;
}
.timetable{
	text-align: center;
	border-collapse: collapse; 
}
.timetable td{
	padding:2px 15px 2px 15px;
	border-width: 1px 0 0 0;
	border-color: #000;
	border-style: solid;
}
.scrollers{

}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	text-decoration: underline;
}